In [29]:
import os
os.makedirs('fdoc_cd_act4', exist_ok=True)

In [1]:
import pandas as pd

datos = {
    'nombre':   ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad':     [25, 30, 22, None, 28],
    'ciudad':   ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio':   [1200, 800, 300, 1150, None],
    'stock':    [10, 15, 5, 8, 0]
}

df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Guarda el dataset para ejercicios de lectura/escritura
df.to_csv('actividad_semana4.csv', index=True)
df

  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
b    Bob  30.0      Lima  Teléfono   800.0     15
c  Clara  22.0    Bogotá    Tablet   300.0      5
d  Diego   NaN  Medellín    Laptop  1150.0      8
e    Eva  28.0      None    Tablet     NaN      0

# 1) Series — crear y operar

**Crea una Series desde una lista y otra desde un diccionario.**

In [3]:
import pandas as pd

# 1. Series desde una lista
nombres = ['Ana', 'Bob', 'Clara', 'Diego', 'Eva']
serie_lista = pd.Series(nombres, name='Nombres')
print("Series desde lista:")
print(serie_lista)
print()

# 2. Series desde un diccionario
datos_dict = {
    'a': 25,
    'b': 30,
    'c': 22,
    'd': 35,
    'e': 28
}
serie_dict = pd.Series(datos_dict, name='Edades')
print("Series desde diccionario:")
print(serie_dict)

Series desde lista:
0      Ana
1      Bob
2    Clara
3    Diego
4      Eva
Name: Nombres, dtype: object

Series desde diccionario:
a    25
b    30
c    22
d    35
e    28
Name: Edades, dtype: int64

**Accede a elementos por índice, modifica un valor y realiza una operación matemática (por ejemplo, multiplicar por 2).**

In [4]:
import pandas as pd

# Crear Series desde diccionario
datos_dict = {
    'a': 25,
    'b': 30,
    'c': 22,
    'd': 35,
    'e': 28
}
serie_edades = pd.Series(datos_dict, name='Edades')
print("Series original:")
print(serie_edades)
print()
# Acceder por etiqueta (índice personalizado)
print("Edad de 'a':", serie_edades['a'])
print("Edad de 'c':", serie_edades['c'])
print()

# Acceder por posición (índice entero)
print("Primer elemento (posición 0):", serie_edades.iloc[0])
print("Tercer elemento (posición 2):", serie_edades.iloc[2])
print()

# Modificar el valor en el índice 'd'
print("Antes de modificar 'd':", serie_edades['d'])
serie_edades['d'] = 40
print("Después de modificar 'd':", serie_edades['d'])
print()

# Multiplicar toda la Series por 2
serie_doble = serie_edades * 2
print("Edades multiplicadas por 2:")
print(serie_doble)

print("\nSeries final (después de modificar 'd'):")
print(serie_edades)

Series original:
a    25
b    30
c    22
d    35
e    28
Name: Edades, dtype: int64

Edad de 'a': 25
Edad de 'c': 22

Primer elemento (posición 0): 25
Tercer elemento (posición 2): 22

Antes de modificar 'd': 35
Después de modificar 'd': 40

Edades multiplicadas por 2:
a    50
b    60
c    44
d    80
e    56
Name: Edades, dtype: int64

Series final (después de modificar 'd'):
a    25
b    30
c    22
d    40
e    28
Name: Edades, dtype: int64

# 2) DataFrame — crear y explorar

**Crea un DataFrame desde un diccionario y aplica un índice personalizado.**

In [6]:
import pandas as pd

# 1. Crear DataFrame desde un diccionario
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, 35, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', 'Santiago'],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet']
}

df = pd.DataFrame(datos)
print("DataFrame con índice por defecto (0, 1, 2...):")
print(df)
print()

# Definir un índice personalizado
indice_personalizado = ['venta_01', 'venta_02', 'venta_03', 'venta_04', 'venta_05']

# Asignar el nuevo índice
df.index = indice_personalizado

print("DataFrame con índice personalizado:")
print(df)

DataFrame con índice por defecto (0, 1, 2...):
  nombre  edad    ciudad  producto
0    Ana    25    Madrid    Laptop
1    Bob    30      Lima  Teléfono
2  Clara    22    Bogotá    Tablet
3  Diego    35  Medellín    Laptop
4    Eva    28  Santiago    Tablet

DataFrame con índice personalizado:
         nombre  edad    ciudad  producto
venta_01    Ana    25    Madrid    Laptop
venta_02    Bob    30      Lima  Teléfono
venta_03  Clara    22    Bogotá    Tablet
venta_04  Diego    35  Medellín    Laptop
venta_05    Eva    28  Santiago    Tablet

**Accede a una columna, usa loc para una fila por etiqueta y iloc por posición.**

In [7]:
import pandas as pd

# Datos
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, 35, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', 'Santiago'],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet']
}

# Índice personalizado
indice = ['venta_01', 'venta_02', 'venta_03', 'venta_04', 'venta_05']

# Crear DataFrame
df = pd.DataFrame(datos, index=indice)
print("DataFrame:")
print(df)
print()

# Acceder a la columna 'nombre'
columna_nombre = df['nombre']
print("Columna 'nombre':")
print(columna_nombre)
print()

# También puedes usar notación de punto (si el nombre no tiene espacios)
print("Columna 'edad' con df.edad:")
print(df.edad)
print()

# Acceder a la fila con etiqueta 'venta_03'
fila_loc = df.loc['venta_03']
print("Fila con loc['venta_03']:")
print(fila_loc)
print()

# Acceder a un valor específico: ciudad de 'venta_01'
valor_loc = df.loc['venta_01', 'ciudad']
print("Ciudad de venta_01 (loc):", valor_loc)

# Acceder a la fila en la posición 2 (tercera fila)
fila_iloc = df.iloc[2]
print("Fila en posición 2 (iloc[2]):")
print(fila_iloc)
print()

# Acceder a un valor por posición: nombre en fila 0, columna 0
valor_iloc = df.iloc[0, 0]
print("Nombre en posición [0,0] (iloc):", valor_iloc)

DataFrame:
         nombre  edad    ciudad  producto
venta_01    Ana    25    Madrid    Laptop
venta_02    Bob    30      Lima  Teléfono
venta_03  Clara    22    Bogotá    Tablet
venta_04  Diego    35  Medellín    Laptop
venta_05    Eva    28  Santiago    Tablet

Columna 'nombre':
venta_01      Ana
venta_02      Bob
venta_03    Clara
venta_04    Diego
venta_05      Eva
Name: nombre, dtype: object

Columna 'edad' con df.edad:
venta_01    25
venta_02    30
venta_03    22
venta_04    35
venta_05    28
Name: edad, dtype: int64

Fila con loc['venta_03']:
nombre       Clara
edad            22
ciudad      Bogotá
producto    Tablet
Name: venta_03, dtype: object

Ciudad de venta_01 (loc): Madrid
Fila en posición 2 (iloc[2]):
nombre       Clara
edad            22
ciudad      Bogotá
producto    Tablet
Name: venta_03, dtype: object

Nombre en posición [0,0] (iloc): Ana

# 3) Operaciones básicas

**Agrega una columna derivada (por ejemplo, precio_descuento = precio * 0.9).**

In [8]:
import pandas as pd

# DataFrame original del usuario
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Agregar columna con descuento del 10%
df['precio_descuento'] = df['precio'] * 0.9

print("DataFrame con columna 'precio_descuento' (10% de descuento):")
print(df)

DataFrame con columna 'precio_descuento' (10% de descuento):
  nombre  edad    ciudad  producto  precio  stock  precio_descuento
a    Ana  25.0    Madrid    Laptop  1200.0     10            1080.0
b    Bob  30.0      Lima  Teléfono   800.0     15             720.0
c  Clara  22.0    Bogotá    Tablet   300.0      5             270.0
d  Diego   NaN  Medellín    Laptop  1150.0      8            1035.0
e    Eva  28.0      None    Tablet     NaN      0               NaN

**Aplica una operación vectorizada sobre una columna numérica.**

In [9]:
import pandas as pd

# Tu DataFrame original (con columnas derivadas ya agregadas)
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Columnas derivadas (como hicimos antes)
df['precio_descuento'] = df['precio'] * 0.9
df['valor_inventario'] = df['precio'] * df['stock']
df['es_caro'] = df['precio'] > 900

# Operación vectorizada: multiplicar toda la columna 'stock' por 1.2
df['stock_aumentado'] = df['stock'] * 1.2

print("DataFrame con stock aumentado en 20%:")
print(df[['nombre', 'producto', 'stock', 'stock_aumentado']])

DataFrame con stock aumentado en 20%:
  nombre  producto  stock  stock_aumentado
a    Ana    Laptop     10             12.0
b    Bob  Teléfono     15             18.0
c  Clara    Tablet      5              6.0
d  Diego    Laptop      8              9.6
e    Eva    Tablet      0              0.0

# 4) Manejo de datos faltantes

**Detecta nulos con isna y cuenta faltantes por columna.**

In [10]:
import pandas as pd

# Tu DataFrame original (con columnas derivadas)
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Columnas derivadas (como antes)
df['precio_descuento'] = df['precio'] * 0.9
df['valor_inventario'] = df['precio'] * df['stock']
df['es_caro'] = df['precio'] > 900
df['stock_aumentado'] = df['stock'] * 1.2

# 1. Detectar valores nulos (devuelve True/False)
print("Detección de nulos con isna():")
print(df.isna())
print()

# 2. Contar nulos por columna
print("Número de valores faltantes por columna:")
print(df.isna().sum())
print()

# 3. Resumen general: ¿hay algún nulo en todo el DataFrame?
print("¿Hay algún valor nulo en todo el DataFrame?", df.isna().any().any())
print()

# 4. Total de valores nulos en todo el DataFrame
print("Total de valores nulos en el DataFrame:", df.isna().sum().sum())

Detección de nulos con isna():
   nombre   edad  ciudad  producto  precio  stock  precio_descuento  \
a   False  False   False     False   False  False             False
b   False  False   False     False   False  False             False
c   False  False   False     False   False  False             False
d   False   True   False     False   False  False             False
e   False  False    True     False    True  False              True

   valor_inventario  es_caro  stock_aumentado
a             False    False            False
b             False    False            False
c             False    False            False
d             False    False            False
e              True    False            False

Número de valores faltantes por columna:
nombre              0
edad                1
ciudad              1
producto            0
precio              1
stock               0
precio_descuento    1
valor_inventario    1
es_caro             0
stock_aumentado     0
dtype: int64

¿Hay algún valor nulo en todo el DataFrame? True

Total de valores nulos en el DataFrame: 5

**Completa faltantes en edad con 0 y en ciudad con 'Desconocido'.**

In [11]:
import pandas as pd

# Tu DataFrame original (con columnas derivadas)
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Columnas derivadas (como antes)
df['precio_descuento'] = df['precio'] * 0.9
df['valor_inventario'] = df['precio'] * df['stock']
df['es_caro'] = df['precio'] > 900
df['stock_aumentado'] = df['stock'] * 1.2

# 1. Rellenar 'edad' con 0
df['edad'] = df['edad'].fillna(0)

# 2. Rellenar 'ciudad' con 'Desconocido'
df['ciudad'] = df['ciudad'].fillna('Desconocido')

print("DataFrame con valores faltantes completados:")
print(df)

DataFrame con valores faltantes completados:
  nombre  edad       ciudad  producto  precio  stock  precio_descuento  \
a    Ana  25.0       Madrid    Laptop  1200.0     10            1080.0
b    Bob  30.0         Lima  Teléfono   800.0     15             720.0
c  Clara  22.0       Bogotá    Tablet   300.0      5             270.0
d  Diego   0.0     Medellín    Laptop  1150.0      8            1035.0
e    Eva  28.0  Desconocido    Tablet     NaN      0               NaN

   valor_inventario  es_caro  stock_aumentado
a           12000.0     True             12.0
b           12000.0    False             18.0
c            1500.0    False              6.0
d            9200.0     True              9.6
e               NaN    False              0.0

#5) Selección y filtrado

**Filtra filas con precio > 500.**

In [12]:
import pandas as pd

# DATAFRAME ORIGINAL (tu principal)

datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])


# FILTRAR FILAS CON PRECIO > 500

print("Filas con precio > 500:")
df_filtrado = df[df['precio'] > 500]
print(df_filtrado)

Filas con precio > 500:
  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
b    Bob  30.0      Lima  Teléfono   800.0     15
d  Diego   NaN  Medellín    Laptop  1150.0      8

**Filtra productos iguales a 'Laptop' y stock mayor que 5.**

In [13]:
import pandas as pd

# DataFrame original
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Filtrar productos 'Laptop' y stock > 5
df_filtrado = df[(df['producto'] == 'Laptop') & (df['stock'] > 5)]
print(df_filtrado)

  nombre  edad    ciudad producto  precio  stock
a    Ana  25.0    Madrid   Laptop  1200.0     10
d  Diego   NaN  Medellín   Laptop  1150.0      8

#6) Ordenar datos

**Ordena por edad ascendente.**

In [14]:
import pandas as pd

# DataFrame original
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Ordenar por edad ascendente
df_ordenado = df.sort_values('edad')
print(df_ordenado)

  nombre  edad    ciudad  producto  precio  stock
c  Clara  22.0    Bogotá    Tablet   300.0      5
a    Ana  25.0    Madrid    Laptop  1200.0     10
e    Eva  28.0      None    Tablet     NaN      0
b    Bob  30.0      Lima  Teléfono   800.0     15
d  Diego   NaN  Medellín    Laptop  1150.0      8

**Ordena por precio descendente ignorando nulos (llena temporalmente nulos con 0 para ordenamiento).**

In [15]:
import pandas as pd

# DataFrame original
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Ordenar por precio descendente, ignorando nulos (llenar temporalmente con 0)
df_ordenado = df.sort_values('precio', ascending=False, na_position='last').fillna({'precio': 0})
# O bien, ordenar con nulos al final y luego rellenar solo para mostrar
df_ordenado = df.sort_values('precio', ascending=False, na_position='last')
print(df_ordenado)

  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
d  Diego   NaN  Medellín    Laptop  1150.0      8
b    Bob  30.0      Lima  Teléfono   800.0     15
c  Clara  22.0    Bogotá    Tablet   300.0      5
e    Eva  28.0      None    Tablet     NaN      0

#7) Estadísticas básicas

**Obtén describe() para columnas numéricas.**

In [16]:
import pandas as pd

# DataFrame original
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Estadísticas descriptivas para columnas numéricas
print(df.describe())

        edad       precio     stock
count   4.00     4.000000   5.00000
mean   26.25   862.500000   7.60000
std     3.50   415.080314   5.59464
min    22.00   300.000000   0.00000
25%    24.25   675.000000   5.00000
50%    26.50   975.000000   8.00000
75%    28.50  1162.500000  10.00000
max    30.00  1200.000000  15.00000

**Obtén value_counts() para la columna producto.**

In [17]:
import pandas as pd

# DataFrame original
datos = {
    'nombre': ['Ana', 'Bob', 'Clara', 'Diego', 'Eva'],
    'edad': [25, 30, 22, None, 28],
    'ciudad': ['Madrid', 'Lima', 'Bogotá', 'Medellín', None],
    'producto': ['Laptop', 'Teléfono', 'Tablet', 'Laptop', 'Tablet'],
    'precio': [1200, 800, 300, 1150, None],
    'stock': [10, 15, 5, 8, 0]
}
df = pd.DataFrame(datos, index=['a', 'b', 'c', 'd', 'e'])

# Conteo de valores en la columna 'producto'
print(df['producto'].value_counts())

producto
Laptop      2
Tablet      2
Teléfono    1
Name: count, dtype: int64

#8) Leer y guardar datos

**Lee el CSV creado (actividad_semana4.csv) y muestra las primeras filas.**

In [18]:
import pandas as pd

# Leer el archivo CSV creado anteriormente
df = pd.read_csv('actividad_semana4.csv', index_col=0)

# Mostrar las primeras 5 filas
print(df.head())

  nombre  edad    ciudad  producto  precio  stock
a    Ana  25.0    Madrid    Laptop  1200.0     10
b    Bob  30.0      Lima  Teléfono   800.0     15
c  Clara  22.0    Bogotá    Tablet   300.0      5
d  Diego   NaN  Medellín    Laptop  1150.0      8
e    Eva  28.0       NaN    Tablet     NaN      0

**Guarda un nuevo CSV con columnas seleccionadas.**

In [19]:
import pandas as pd

# Leer el CSV original
df = pd.read_csv('actividad_semana4.csv', index_col=0)

# Seleccionar solo las columnas: nombre, producto, precio, stock
df_seleccionado = df[['nombre', 'producto', 'precio', 'stock']]

# Guardar nuevo CSV con columnas seleccionadas
df_seleccionado.to_csv('seleccion_columnas.csv', index=True)

print("Nuevo CSV guardado como 'seleccion_columnas.csv'")
print(df_seleccionado)

Nuevo CSV guardado como 'seleccion_columnas.csv'
  nombre  producto  precio  stock
a    Ana    Laptop  1200.0     10
b    Bob  Teléfono   800.0     15
c  Clara    Tablet   300.0      5
d  Diego    Laptop  1150.0      8
e    Eva    Tablet     NaN      0

#9) Ejercicio integrado

**Aplica descuento del 10% a precio, filtra productos con stock > 5, ordena por precio_descuento y guarda como inventario_procesado.csv.**

In [20]:
import pandas as pd

# Leer el CSV original
df = pd.read_csv('actividad_semana4.csv', index_col=0)

# 1. Aplicar descuento del 10% al precio
df['precio_descuento'] = df['precio'] * 0.9

# 2. Filtrar productos con stock > 5
df_filtrado = df[df['stock'] > 5]

# 3. Ordenar por precio_descuento (descendente)
df_ordenado = df_filtrado.sort_values('precio_descuento', ascending=False)

# 4. Guardar como nuevo CSV
df_ordenado.to_csv('inventario_procesado.csv', index=True)

print("Archivo 'inventario_procesado.csv' creado exitosamente.")
print(df_ordenado[['nombre', 'producto', 'precio', 'precio_descuento', 'stock']])

Archivo 'inventario_procesado.csv' creado exitosamente.
  nombre  producto  precio  precio_descuento  stock
a    Ana    Laptop  1200.0            1080.0     10
d  Diego    Laptop  1150.0            1035.0      8
b    Bob  Teléfono   800.0             720.0     15